/*
 * Estilos de tu proyecto
 */

* {
	/* todos los elementos trabajaran de la misma manera, padding y border no incrementan su ancho hacia fuera*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif; /* fuente de los textos*/	
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px; /* establece tamaño por defecto de la tipografía*/
}

/* contenedor elementos logo y nav */
header {
	/*border: 1px solid black; linea de prueba*/ 
	width: 100%;
	height: auto;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #FFC107;
	display: inline-flex; /* contenedor flex padre: ordena los items hijos en modo inline-flex*/
	align-items: center; /*Flex opción: centra vertical los items hijos interiores*/
}

#logo{
	/*border: 1px solid black; linea de prueba*/
	width: 20%;
	background-color: #fff;
	padding: 1%;
}

#logo img{
	/*border: 1px solid black; linea de prueba*/
}

/* contenedor elementos cont-menu */
nav {
	/*border: 1px solid black; linea de prueba*/
	color: rgb(71, 71, 71);
	width: 100%;
	padding: 1% 2%;/*margen centrado para elmentos dentro de nav*/
}

/* contenedor elementos p, menu, buscador, last menu */
#cont_menu {
	/*border: 1px solid black; linea de prueba*/
	display: inline-flex; /*contenedor flex padre organiza los items hijos interiores como inline*/
	font-size: 1.5em;
	width: 100%;
	justify-content: space-between; /*justificación flex : Distribuye los ítems hijos desde el inicio hasta el final.*/
	flex-wrap: nowrap;
}

/* texto superior My Dashboard */
#cont_menu p {
	/*border: 1px solid black; linea de prueba*/
	font-family: 'PT Sans',sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0 1% 0 0;
	white-space:nowrap; /* texto en una sola línea */
}

/* Contenedor primera parte menu e icono desplegado */
#menu {
	/*border: 1px solid black; linea de prueba*/
	padding: 0 2%;
}

#iconoDesplegado {
	color: rgb(71, 71, 71);
}

/* Contenedor input y boton search */
#buscador {
	/*border: 1px solid black; linea de prueba*/
	width: 100%; /* ancho para la barra input*/
	display: inline-flex; /*organiza items hijos input e icono como inline*/
	justify-content: space-between; /*flex opción: distribuye input e icono desde el principio y fin del contenedor*/
	padding: 0 1%;
}

/*input buscador*/
#search {
	border: 1px solid transparent;
	border-radius: 15px;
	width: 100%; /* alarga barra input automaticamente*/
	margin-right: 2%;
	padding: 0 2%;
	font-size: 0.8em;
}

/*input buscador texto*/
#search ::placeholder{
}

/* Contenedor ul iconos finales del menu */
#lastMenu {
	/*border: 1px solid black; linea de prueba*/
}

#lastMenu ul {
	/*border: 1px solid black; linea de prueba*/
	list-style: none;
	display: inline-flex;
	margin: 0;
}

#lastMenu li {
	/*border: 1px solid black; linea de prueba*/
	padding: 0 0.4em;
}

/* Contenedor bienvenida */
#bienvenida {
	/*border: 1px solid black; /*linea de prueba*/
	width: 100%;
	height: 10%;
	background-image: url(../assets/images/border-bienvenida.png);
	background-color: #FFC107;
	background-size: 70%; 
	padding: 10em 3em 3em; 
	background-repeat: repeat-x;
	display: inline-flex; /*contenedor flex padre organiza los items hijos interiores como inline*/
 }

 #bienvenida h1 {
	/*border: 1px solid black;/*linea de prueba*/
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	color: rgb(102, 101, 101);
	width: 100%;
	padding-left: 2%;
	margin 0;
 }
 
/*div comportamiento boton para mostrar calendario*/
 #date {
	/*border: 1px solid black; /*linea de prueba*/
	background-image: url(../assets/images/dateB.png);
	background-size : 95%;
	background-position : center;
	background-color: rgb(255, 157, 0);
	width: 10%;
 }

 /* Calendario oculto popup*/
 #datePopUp {
	 position: absolute;
	 width: 20%;
 	top: 16em;
 	left: 2%;
 }

 #datePopUp img {
	 width: 100%;
 }

 /*clases especiales para el Calendario popup*/
 .seeCalendar {
 	display: block;
 }

 .hideCalendar {
 	display: none;
 }

 /*menu oculto*/
 #menuOculto {
 	background-color: #ffffff;
 	width: 200px;
 	margin-top: 0px;
 	border: 1px solid red;
 }

 #desplegado img {
 	width: 170px;
 	margin-top: 50px;
 	margin-left: 10px;
 }

 #desplegado h3 {
 	margin-left: 20px;
 }

 #desplegado h5 {
 	margin-left: 40px;
 }

<<<<<<< HEAD
 #desplegado h6 {
 	margin-left: 60px;
 }

/*
 #estudiantesChile{
 	border: 1px solid red;
 	width: 200px;
 	height: auto;
 	margin-left: 500px; 
 }
 */
=======

>>>>>>> b8c4016da02060633d2501a83366df7475f9db10
